<div class="container mt-5  table-striped table-hover">
  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="bankId">
        <th class="point pad" mat-header-cell mat-sort-header *matHeaderCellDef>Bank ID</th>
        <td mat-cell *matCellDef="let element" > {{element.bankId}} </td>
      </ng-container>

      <ng-container matColumnDef="bankName">
        <th class="point pad" mat-header-cell mat-sort-header *matHeaderCellDef>Bank Name</th>
        <td mat-cell *matCellDef="let element"> {{element.bankName}} </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th class="point" mat-header-cell mat-sort-header *matHeaderCellDef>Code</th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>

      <ng-container matColumnDef="incorporateDate">
        <th class="point" mat-header-cell mat-sort-header *matHeaderCellDef>Incorporate Date</th>
        <td mat-cell *matCellDef="let element"> {{element.incorporateDate}} </td>
      </ng-container>

      <ng-container matColumnDef="noOfStaff">
        <th class="point" mat-header-cell mat-sort-header *matHeaderCellDef>No Of Staff</th>
        <td mat-cell *matCellDef="let element"> {{element.noOfStaff}} </td>
      </ng-container>

      <ng-container matColumnDef="noOfBranches">
        <th class="point" mat-header-cell mat-sort-header *matHeaderCellDef>No of Branches</th>
        <td mat-cell *matCellDef="let element"> {{element.noOfBranches}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th class="point" mat-header-cell mat-sort-header *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>



      <!-- Filter -->
      <ng-container matColumnDef="filter">
        <th mat-header-cell *matHeaderCellDef>
          <button *ngIf="!isSearch" mat-button (click)="onSearch()"> <mat-icon>search</mat-icon> </button>
          <input *ngIf="isSearch" class="filter" matInput mat-raised (keyup)="applyFilter($event)" placeholder="Filter By" #input>
        </th>
        <td mat-cell *matCellDef="let element">
          </td>
      </ng-container>

      <!-- Add Button -->
      <ng-container matColumnDef="add">
        <th mat-header-cell *matHeaderCellDef><button mat-raised-button class="btn-success mr-2" mat-button (click)="openDialog()">Add Bank</button></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button class="btn-outline-success mr-2" (click)="onUpdate(element)">U</button>
          <button mat-raised-button class="btn-outline-danger" (click)="onDelete(element.bankId);">D</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 15, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</div>
