table {
  width: 100%;
  border: 5px;
}

td{
  background-color:darkgray;
  color:black;
  font-weight: 500;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: #ddd;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.point {
  cursor: pointer;
}


